{% extends 'store/base.html' %}

{% block content %}
    <div class="row">
        {% for flower in flowers %}
            <div class="col-md-4">
                <div class="card flower-card">
                    <img src="{{ flower.image.url }}" class="card-img-top flower-image" alt="{{ flower.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ flower.name }}</h5>
                        <p class="card-text">{{ flower.description }}</p>
                        <p class="card-text"><strong>Ціна:</strong> {{ flower.price }} грн</p>
                        <a href="#" class="btn btn-primary">Додати в кошик</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
